

.product-scroll-container {
    background-color: #319795;
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    white-space: nowrap;
    max-width: 100vw;
    width: 100vw;
}

.product-category-item {
    margin-right: 75px;
    min-width: 200px;
    transition: transform 0.3s ease;
}

.category-head {
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    margin-left: 31px;
}

/* .category-item:hover {
    transform: scale(1.1);
} */

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers */
}

.scroll-container {
    -ms-overflow-style: none;
    /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.scroll-product-card-text{
    text-wrap: auto;
}